@import "./bulma.css";

#socialTab,
#miscTab {
  display: none;
}

.level-right {
  flex-direction: initial;
}

.is-disabled {
  opacity: 0.5;
}

.achievement-level-title:not(.is-disabled) {
  font-weight: bold;
}

/* @media only screen and (max-width: 340px) {

  body { 
     font-size: 0.8em; 
  }

} */
