@import "./bulma.css";

#socialTab,
#miscTab {
  display: none;
}

.media-v-center {
  align-items: center;
}

.is-disabled {
  opacity: 0.5;
}

.achievement-level-title:not(.is-disabled) {
  font-weight: bold;
}
