@import "./bulma.css";

#socialTab,
#miscTab {
  display: none;
}

.level-right {
  flex-direction: initial;
}

.is-disabled {
  opacity: 0.5;
}

.achievement-level-title:not(.is-disabled) {
  font-weight: bold;
}

.sup-index {
  vertical-align: super;
  font-size: 0.3em;
}

.burger-menu {
  color: var(--bulma-tabs-boxed-link-active-background);
}

.burger-menu:hover {
  background-color: #f3f4f6;
}

@media only screen and (max-width: 340px) {
  body {
    font-size: 0.8em;
  }
}
